@{
    ViewData["Title"] = "Home Page";
}

<section id="firstSection">
    <div>
        <h1>TP CRUD MVC Scolarité </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <a class="goldButton">Nos Parcours</a>
    </div>
</section>

<section id="secondSection">
    <h1 id="module">Nos Modules</h1>
    <div class="cards-box">
                <div class="cards">
            <img src="~/photos/phpbg.png"/>
            <div class="card-text">
                <h1>PHP</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
        </div>
        <div class="cards">
            <img src="~/photos/cSharp.png"/>
            <div class="card-text">
                <h1>C#</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
        </div>
        <<div class="cards">
            <img src="~/photos/JS.png"/>
            <div class="card-text">
                <h1>Javascript</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
        </div>
    </div>

</section>