html {
  font-size: 14px;
}
h1 {
    font-family: 'Bebas Neue', cursive;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#firstSection {
    background-image: url("../photos/headBground.jpg");
    background-size: cover;
    width: 100vw;
    height: 60vh;
    position: relative;
}
#firstSection div{
    color: white;
    position: absolute;
    right: 10em;
    top: 7em;
    width: 30vw;
    height:40vh;
    text-align: right;
}
#firstSection div a{
    position: relative;
    top: 25px;
}
.goldButton {
    padding: 15px;
    border: 2px solid #dba313;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin-top: 50px;
    text-align: left;
}
.goldButton:hover{
    color: white;

}

#secondSection{
    margin: 5em 0;
    height: 100vh;
    width: 100vw;
}
#module {
    text-align: center;
    color: #022a58;
}
.cards-box {
    display: flex;
}
.cards {
    width: 15vw;
    height: 40vh;
    border-radius: 15px;
    position: relative;
    margin: 15px;
    background-color: #fffcf4;
    overflow: hidden;
    -webkit-box-shadow: 0px 14px 36px 5px rgba(0,0,0,0.26);
    box-shadow: 0px 14px 36px 5px rgba(0,0,0,0.1);
}
.cards img{
    width: 100%;
    height: 20vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-text{
    padding: 1em;
    overflow: hidden;
}
.card-text h1{
    color:  #022a58; 
    font-size: 30px;
}
.card-text p{
    font-size: 15px;
}
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #fffbf1;
}